<section class="hero-carousel">

    <h1 class="subtitulo">💡 Vantagens de fazer este curso no SENAI</h1>

    <div class="carousel-wrapper">

    <div class="carousel-container" id="vantagens-carousel"></div>
        <button class="carousel-btn prev" id="vantagens-prev">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="carousel-btn next" id="vantagens-next">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>

    <div class="carousel-dots" id="vantagens-dots"></div>

</section>

<section class="curso-container">

    <h1 class="subtitulo">🚀 Ao concluir este curso, serei capaz de ...</h1>

    <div class="lista-aprendizado">
        <p id="curso-descricao"></p>
    </div>

</section>

<section class="curso-container">

    <h1 class="subtitulo">🎓 O que vou aprender neste curso?</h1>

    <div class="lista-aprendizado">
        <ul id="lista-conteudo"></ul>
    </div>

    <h1 class="subtitulo">⚠️ Requisitos para começar</h1>

    <div class="req-container" id="lista-requisitos"></div>

</section>

<section class="hero-carousel">

    <h1 class="subtitulo">📚 Cursos que podem complementar sua formação</h1>

    <div class="carousel-wrapper">

    <div class="carousel-container" id="rel-carousel"></div>

    <button class="carousel-btn prev" id="rel-prev">
        <i class="fa-solid fa-chevron-left"></i>
    </button>

    <button class="carousel-btn next" id="rel-next">
        <i class="fa-solid fa-chevron-right"></i>
    </button>

    </div>

    <div class="carousel-dots" id="rel-dots"></div>

</section>
