<div id="container">

    <section id="chamada">

        <h1 class="titulo-secao">👷 Quais são as necessidades da indústria?</h1>
        
        <div class="card-longo">
            
            <p>
                A indústria exige profissionais cada vez mais preparados para lidar com novas tecnologias, processos e desafios do mundo do trabalho. Por isso, investir em qualificação profissional é fundamental para quem deseja conquistar oportunidades, desenvolver habilidades práticas e construir uma carreira sólida.
                
                Nesse caminho, o Serviço Nacional de Aprendizagem Industrial é um grande aliado. Com formação voltada à prática e alinhada às necessidades da indústria, o SENAI contribui diretamente para preparar alunos e profissionais para os desafios e oportunidades do mercado.
            </p>
            
        </div>
        
    </section>

    <section id="perfil">

        <h1 class="titulo-secao">🚀 Ao concluir este curso, serei capaz de ...</h1>
        
        <div id="competencia" class="card-longo"></div>
            
        </div>
        
    </section>
    
    <section id="vantagens">
        
        <h1 class="titulo-secao">💡 Vantagens de fazer este curso no SENAI</h1>
        
        <div id="cards-vantagens"></div>
        
    </section>

    <section id="conteudos">
        
        <h1 class="titulo-secao">🎓 O que vou aprender neste curso?</h1>
        
        <div class="card-longo">
            <h3>Conteúdo Programático</h3>
            <ul id="conteudo-curso"></ul>
        </div>
        
    </section>

    <section id="requisitos">
        
        <h1 class="titulo-secao">⚠️ Requisitos para começar</h1>
        
        <div id="cards-requisitos"></div>
        
    </section>

    <section id="matricula">

        <h1  class="titulo-secao">🛒 Veja como comprar e efetivar sua matrículas!</h1>
        
        <div id="area-tour"></div>

    </section>

</div>