<section id="tour-matricula">
  <div class="tour-container">

    <div class="tour-progress">
    <div class="tour-progress-bar"></div>
    </div>

    <div class="tour-step active">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo1.jpg">
      <p>🛒 Clique em "Iniciar" para saber como realizar sua matrícula.</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo2.gif">
      <p>🛒 Clique em "Comprar Curso".</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo3.gif">
      <p>📝 Preencha seus dados.</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo4.gif">
      <p>💳 Escolha a forma de pagamento.</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo5.gif">
      <p>🎓 Matrícula concluída!</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo6.gif">
      <p>🎓 Matrícula concluída!</p>
    </div>

    <div class="tour-controls">
      <button id="prevBtn">Voltar</button>
      <button id="nextBtn">Próximo</button>
      <button id="initBtn">Iniciar</button>
    </div>

  </div>
</section>