<section id="tour-matricula">
  <div class="tour-container">

    <div class="tour-progress">
    <div class="tour-progress-bar"></div>
    </div>

    <div class="tour-step active">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo1.jpg">
      <p>🚀 Clique em "Iniciar" para saber como realizar sua matrícula.</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo2.gif">
      <p>🛒 Primeiro, adicione seu curso ao carrinho.</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo3.gif">
      <p>🔐 Em seguida, informe seu e-mail, clique em "Confirmar" e digite o código recebido em seu e-mail para fazer seu login.</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo4.gif">
      <p>💳 Preecha suas informações básicas, endereço e método de pagamento, confira as informações e clique em "Finalizar compra".</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo5.gif">
      <p>✔️ Após confirmação do pagamento, seu curso estará disponível na área "Meus cursos".</p>
    </div>

    <div class="tour-step">
      <img src="https://pontesdevtech.github.io/DevTech.Portfolio.SENAI.Futuro-Digital/assets/img/passo6.gif">
      <p>📝 Procure seu curso e clique em "Realizar matrícula". Você será redirecionado(a) para a página de matrícula. Preencha todos os campos obrigatórios e envie o formulário.</p>
    </div>

    <div class="tour-controls">
      <button id="prevBtn">Voltar</button>
      <button id="nextBtn">Próximo</button>
      <button id="initBtn">Iniciar</button>
    </div>

  </div>
</section>