<section id="tour-matricula">
  <div class="tour-container">

    <div class="tour-progress">
    <div class="tour-progress-bar"></div>
    </div>

    <div class="tour-step active">
      <img src="assets/img/passo1.jpg">
      <p>🛒 Clique em "Comprar Curso".</p>
    </div>

    <div class="tour-step">
      <img src="assets/img/passo2.jpg">
      <p>📝 Preencha seus dados.</p>
    </div>

    <div class="tour-step">
      <img src="assets/img/passo3.jpg">
      <p>💳 Escolha a forma de pagamento.</p>
    </div>

    <div class="tour-step">
      <img src="assets/img/passo4.jpg">
      <p>🎓 Matrícula concluída!</p>
    </div>

    <div class="tour-controls">
      <button id="prevBtn">Voltar</button>
      <button id="nextBtn">Próximo</button>
      <button id="initBtn">Iniciar</button>
    </div>

  </div>
</section>